<h1>League of Extraordinary Gentlefolk</h1>

<form action="/lm" method="post">
  <input type="hidden" name="user_type" value="lm">
  <button type="submit" name="lm_button">League Manager Gateway</button>
</form>
<form action="/tc" method="post">
  <input type="hidden" name="user_type" value="tc">
  <button type="submit" name="tc_button">Team Coordinator Display Program (1997)</button>
</form>
